@model Project3.ViewModels.MinorViewModel

<h2>@Model.Title</h2>
<div id="minors">
    <div id="minors-content">
        @foreach (var minor in Model.Minors)
        {
            <h3 id="@String.Concat("myHdng", minor.name)" class="accordian-title">@minor.title</h3>
            <div id="@String.Concat("myDiv", minor.name)" class="accordian-details">
                <p class="acccordian-para">@minor.description</p>
            </div>
        }
    </div>
</div>
<footer>
    <div class="container">
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3">
                    <!-- Content -->
                    <img src="~/images/RIT_1505C_hor.jpg" alt="Long logo for RIT">
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 d-flex flex-column align-items-center">
                    <!-- Links -->
                    <h5 class="text-uppercase">Helpful Links</h5>
                    <ul class="list-unstyled" id="helpfulLinks">
                        @foreach (var quicklink in Model.FooterInfo.quickLinks)
                        {
                            <li><a href=@quicklink.href>@quicklink.title</a></li>
                        }
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 d-flex flex-column align-items-center">
                    <!-- Links -->
                    <h5 class="text-uppercase">Social Media</h5>
                    <ul class="list-unstyled" id="socialMedia">
                        <li><a href=@Model.FooterInfo.social.twitter>Twitter</a></li>
                        <li><a href="@Model.FooterInfo.social.facebook">Facebook</a></li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="copyright"></div>
    </div>
</footer>

@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/lib/jqueryui/themes/ui-darkness/jquery-ui.min.css">
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script>
    var $j = jQuery.noConflict();
    var footInfo = @Html.Raw(Json.Serialize(@Model.FooterInfo));
    $j("#copyright").append(footInfo.copyright.html);

    $('#minors-content').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
    });
</script>